.showcase__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  font-weight: 600;
  color: #3a3a3a;
  width: 100%;
  margin: 15px auto 25px auto;
  padding: 0;
  text-align: center; }

.showcase__content {
  width: 100%;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(1, 1fr); }
  @media screen and (min-width: 360px) {
    .showcase__content {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (min-width: 768px) {
    .showcase__content {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (min-width: 992px) {
    .showcase__content {
      grid-template-columns: repeat(4, 1fr); } }
  @media screen and (min-width: 1200px) {
    .showcase__content {
      grid-template-columns: repeat(5, 1fr); } }

.card {
  width: 100%;
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid #e8e3d8;
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none; }
  .card:hover {
    border-color: #849539; }
  .card__promotion {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #849539;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 1px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.22); }
  .card__image {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0; }
  .card__content {
    min-height: 150px;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column; }
  .card__price {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #849539;
    margin-bottom: 5px; }
  .card__title {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #000;
    margin-bottom: 5px; }
  .card__unit {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #b19d76;
    margin-bottom: 45px; }
  .card__btn-buy {
    position: absolute;
    width: calc(100% - 30px);
    height: 35px;
    background-color: #849539;
    bottom: 15px;
    left: 15px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; }

.esj-footer {
  width: 100%;
  background-color: #849539;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }
  .esj-footer * {
    margin: 0;
    padding: 0; }
  .esj-footer__container {
    width: 100%;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .esj-footer__container {
        width: 1000px;
        margin: 0 auto; } }
  .esj-footer__divider {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5px 0; }
  .esj-footer__payments {
    padding-bottom: 15px;
    box-sizing: border-box; }
    .esj-footer__payments-title {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      color: #FFF;
      text-align: center;
      margin-top: 25px;
      margin-bottom: 20px; }
    .esj-footer__payments-logos {
      max-width: 100%;
      width: 400px;
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: 0 auto; }
  .esj-footer__content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse; }
    .esj-footer__content-title {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      color: #FFF;
      margin-top: 5px;
      margin-bottom: 15px;
      font-size: 15px; }
    .esj-footer__content-location {
      width: 100%;
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      color: #FFF;
      padding-top: 10px;
      box-sizing: border-box; }
      .esj-footer__content-location-map {
        width: 100%;
        height: 350px;
        border-radius: 5px;
        overflow: hidden; }
        .esj-footer__content-location-map iframe {
          width: 100%;
          height: 100%; }
    .esj-footer__content-contact {
      flex: 1; }
      .esj-footer__content-contact-phone {
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        color: #FFF;
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 10px; }
      .esj-footer__content-contact-address {
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 15px;
        color: #FFF; }
      .esj-footer__content-contact-hour {
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 15px;
        font-size: 13px; }
      .esj-footer__content-contact-socials {
        display: flex;
        list-style: none; }
        .esj-footer__content-contact-socials-item {
          margin-right: 15px;
          color: #FFF; }
          .esj-footer__content-contact-socials-item a {
            text-decoration: none;
            color: #FFF; }
            .esj-footer__content-contact-socials-item a:hover, .esj-footer__content-contact-socials-item a:visited {
              color: #FFF; }
            .esj-footer__content-contact-socials-item a i {
              font-size: 30px; }
    @media screen and (min-width: 768px) {
      .esj-footer__content {
        flex-direction: row; }
        .esj-footer__content-location {
          width: 600px;
          padding-right: 25px; } }
